{% extends 'base.html' %}
{% block title %}Ingresar{% endblock title %}
{% block content %}
    <!-- Header -->
    <header id="header" class="ex-2-header">
        <div class="container">
            <div class="row">
                <div class="col-lg-12">
                    <h1>Ingresar</h1>
                   <p>¿Todavia no tenes una cuenta? Entra aca y registrate.<a class="white" href="{% url 'register' %}">Registrarme.</a></p> 
                    <!-- Sign Up Form -->
                    <div class="form-container bg-secondary d-flex justify-content-center">
                                <form action="" method="post">
                                    {% csrf_token %}
                                    {{form}}
                                    <button type="submit" id="submit">Ingresar</button>
                                </form>
                    </div> <!-- end of form container -->
                    <!-- end of sign up form -->

                </div> <!-- end of col -->
            </div> <!-- end of row -->
        </div> <!-- end of container -->
    </header> <!-- end of ex-header -->
    <!-- end of header -->
{% endblock content %}