{% extends 'base.html' %}
{% block title %}registrarse{% endblock title %}
{% load static %}
{% block content %}
    <!-- Header -->
    <header id="header" class="ex-2-header">
        <div class="container">
            <div class="row">
                <div class="col-lg-12">
                    <h1>Registrarse</h1>
                   <p>¿Ya tenes una cuenta? Entonces ingresa en el siguiente link: <a class="white" href="{% url 'login' %}">Ingresar</a></p> 
                    <!-- Sign Up Form -->

                        <div class="container d-flex justify-content-center bg-secondary">
                            <form action="" method="post" class="formulario">
                                {% csrf_token %}
                                {{form.as_p}}
                                <button type="submit" id="submit">Registrarse</button>
                            </form>
                        </div>
                    <!-- end of sign up form -->

                </div> <!-- end of col -->
            </div> <!-- end of row -->
        </div> <!-- end of container -->
    </header> <!-- end of ex-header -->
    <!-- end of header -->
{% endblock content %}